body {
    background-color: #3F2860;
    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;
}
header {
    background-color: #9BC1C2;
    background-image: url(img/lilyheader.jpg); 
    background-repeat: no-repeat;
    height:150px;
   background-size: 100%;
}
h1 {
    padding-top: 50px; padding-left: 2em;
}
nav { 
    font-weight: bold;
    float: left;
    width: 190px;
    padding: 1em;
}
nav ul { list-style-type: none; 
        }
nav a{
    text-decoration: none;
    display: block;
    text-align: center;
    border: 3px outset #CCCCCC;
    padding: 1em;
    margin-bottom: .1em;
}

nav a:link {color: #3F2860;}

nav a:visited {color: #497777;}

nav a:hover {color: #A26100; border: 3px inset #333333; }

main { padding-left: 3em; padding-right: 3em;
    margin-left: 40px; padding-top: 0em;
       }

footer{
    padding: 1em;
    background-color:#9BC1C2;
    font-size: small;
    font-style: italic;
    text-align: center;
}

.floatleft {float: left;
            margin-right: 4em; }

#wrapper { width: 80%;
           margin-right: auto;
           margin-left: auto;
           background-color: #F5F5F5;
           min-width: 1200px; 
           max-width: 1480px; }
.clear { clear: both; }
* {box-sizing: border-box; }